@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  height: 100%;
}

#root{
  height: 100%;
}

.bg-circle-purple{
  position: absolute;
  width: 727px;
  height: 727px;
  left: 529px;
  top: 947px;
  background: rgba(125, 31, 249, 0.5);
  opacity: 0.6;
  filter: blur(100px);
}

.bg-circle-blue{
  position: absolute;
  width: 1106.73px;
  height: 995.29px;
  left: -1024px;
  top: 1399.79px;
  background: #00A8FE;
  opacity: 0.6;
  filter: blur(150px);
  transform: rotate(-44.22deg);
}